.auth-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.auth-left {
  background: linear-gradient(135deg, #0f172a, #0d9488);
  color: white;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-box {
  width: 60px;
  height: 60px;
  background: #14b8a6;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.auth-left h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.auth-left p {
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 30px;
}

.users {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  background: #14b8a6;
  border-radius: 50%;
}

.auth-right {
  background: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  width: 400px;
}

.auth-card h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.subtitle {
  color: #64748b;
  margin-bottom: 25px;
}

/* FORM */

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form label {
  font-size: 14px;
  margin-bottom: 5px;
}

.auth-form input {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}

.auth-form input:focus {
  outline: none;
  border-color: #0d9488;
}

.auth-form button {
  padding: 12px;
  background: #0d9488;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.auth-form button:hover {
  background: #0f766e;
}